@charset "utf-8";
/* reset.css */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}fieldset,img{border:0}:focus{outline:0}address,ctoolion,cite,code,dfn,em,strong,th,var,optgroup{font-style:normal;font-weight:normal}h1,h2,h3,h4,h5,h6{font-size:100normal}abbr,acronym{border:0;font-variant:normal}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}code,kbd,samp,tt{font-size:1001001.5}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}ctoolion,th{text-align:left}sup,sub{font-size:100baseline}:link,:visited,ins{text-decoration:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}

/* 鼠标经过闪高光 */
.hot-img {position: relative;overflow: hidden;}
.hot-img::before {
	content: "";
	position: absolute;
	width: 80px;height: 100%;left: -75%;
	background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(50%,rgba(255,255,255,.2)),color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,rgba(255,255,255,0)0,rgba(255,255,255,.2)50%,rgba(255,255,255,0)100%);
	-webkit-transform: skewX(-25deg);
	-moz-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hot-img:hover::before {left: 145%;
	-webkit-transition: left .8s;
	transition: left .8s;}
/* 闪烁动画 */
@-webkit-keyframes blink {0% { -webkit-opacity: 1; }50% { -webkit-opacity: 1; }50.01% { -webkit-opacity: 0; }100% { -webkit-opacity: 0; }}
@-moz-keyframes blink {0% { -moz-opacity: 1; }50% { -moz-opacity: 1; }50.01% { -moz-opacity: 0; }100% { -moz-opacity: 0; }}
@-ms-keyframes blink {0% { -ms-opacity: 1; }50% { -ms-opacity: 1; }50.01% { -ms-opacity: 0; }100% { -ms-opacity: 0; }}
@-o-keyframes blink {0% { -o-opacity: 1; }50% { -o-opacity: 1; }50.01% { -o-opacity: 0; }100% { -o-opacity: 0; }}
@keyframes blink {0% { opacity: 1; }50% { opacity: 1; }50.01% { opacity: 0; }100% { opacity: 0; }}
/* 图片填充方式 */
.cover, .contain {
	width: 100%;
	height: 100%;
	object-position: center;
}
.cover {object-fit: cover;}
.contain {object-fit: contain;}

/* 圆角 */
.b-r50 { -webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%; }
.posr {position: relative;}
.posa {position: absolute;}
/* 单/复选框 */
.checkbox label,.checked-label {padding-left: 22px !important}
label {position: relative}
label > input[type="checkbox"]:nth-last-child(2), .checked-label > input[type="checkbox"] {display: none}
label > input[type="checkbox"] + i {
	margin: auto;
	display: block;
	position: absolute;
	border-radius: 3px;
	border: 1px solid #999;
	width: 16px;height: 16px;
	left: 0;top: 0;bottom: 0;
	background-color: #f5f5f5;
}
label > input[type="checkbox"]:checked + i {
	border-color: #b31e22;
	background-color: #ffe0e0;
}
label > input[type="checkbox"]:checked + i::before {
	color: #b31e22;
	margin: auto;
	line-height: 1;
	content: '\e661';
	position: absolute;
	top: 0;left: 0;bottom: 0;right: 0;
	font-family: "iconfont" !important;
}
.radio-label {font-weight: normal}
.radio-label input[type="radio"] {display: none}
.radio-label input[type="radio"]:checked + .iconfont::before {content: "\e67b"}
/* 溢出隐藏 */
.ep {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.ep2,.ep3,.ep4,.ep5 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.ep2 {-webkit-line-clamp: 2;}
.ep3 {-webkit-line-clamp: 3;}
.ep4 {-webkit-line-clamp: 4;}
.ep5 {-webkit-line-clamp: 5;}

/* 字体大小 */
.fz0 {font-size: 0;}
.fz12 {font-size: 12px}
.fz14 {font-size: 14px}
.fz16 {font-size: 16px}
.fz18 {font-size: 18px}
.fz20 {font-size: 20px}
.fz24 {font-size: 24px}
.fz40 {font-size: 40px}

/* 颜色 */
.cr{color: #b31e22}
.cg{color: #280}
.ce{color: #eee}
.cc{color: #ccc}
.c9{color: #999}
.c6{color: #666}
.c3{color: #333}
.cf{color: #fff}

/* 背景色 */
.bg3{background-color: #333;}
.bgf{background-color: #fff;}
.bgf5{background-color: #f5f5f5;}

.demo-spin-icon-load{
	animation: ani-demo-spin 1s linear infinite;
}
@keyframes ani-demo-spin {
	from { transform: rotate(0deg);}
	50%  { transform: rotate(180deg);}
	to   { transform: rotate(360deg);}
}
.demo-spin-col{
	height: 100px;
	position: relative;
	border: 1px solid #eee;
}
